.DisplayNotesPageContainer {
    background-color: gray;
    height: 490px;
    width: 1000px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}

.DisplayNotesContent {
    height: 100%;
    width: 60%;
}

.DisplayNotes {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.DisplayNotes h2{
  color: white;
  font-size: 50px;
}

.CourseSelector {
    height: 20%;
    width: 100%;
}

.CourseSelector button {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  font-size: 30px;
}

.CourseSelector button:hover {
  background-color: gray;
  transition: background-color 500ms ease-in-out;
}

.NotesDisplayCase {
    background-color: aliceblue;
    height: 40%;
    width: 100%;
}

.Note {
    background-color: #333;
    height: 80px;
    width: 350px;
    border: 1px solid deepskyblue;
    border-radius: 10px;
    position: relative;
    right: 30px;
  }
  
  .Note:hover {
    background-color: lightblue;
    transition: background-color 500ms ease-in-out;
    filter: drop-shadow(0 0 2em deepskyblue);
  }
  
  .Note .p1 {
    color: deepskyblue;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    bottom: 10px;
    left: 10px;
  }
  
  .Note .p2 {
    color: deepskyblue;
    font-size: 20px;
    font-style: italic;
    height: fit-content;
    width: fit-content;
    position: relative;
    bottom: 20px;
    left: 10px;
  }

.BackButton {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.BackButton button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    font-size: 30px;
}

.BackButton button:hover {
    background-color: gray;
    transition: background-color 500ms ease-in-out;
}