.AddNotePageContainer {
    background-color: gray;
    height: 490px;
    width: 1000px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}

.AddNoteContent {
    height: 100%;
    width: 60%;
    overflow: hidden;
}

.AddNote {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.AddNote h2{
    color: white;
    font-size: 50px;
}

.CourseSelector {
    height: 10%;
    width: 100%;
}

.TextField {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.TextField h3 {
    color: white;
}

.TextField textarea {
    height: 100px;
    width: 95%;
    font-size: 20px;
    margin-bottom: 10px;
}

.TextField button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 30px;
}

.TextField button:hover {
    background-color: gray;
    transition: background-color 500ms ease-in-out;
}

.BackButton {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.BackButton button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 60px;
    width: 300px;
    font-size: 30px;
}

.BackButton button:hover {
    background-color: gray;
    transition: background-color 500ms ease-in-out;
}